.Person{
    width: 60%;
    margin: 25px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: cetner;
}

@media (min-width: 500px) {
    .Person{
        width: 450px;
    }
}
button{
    padding: 5px;
    color:white;
    background-color:rgb(41, 109, 61);
    font: 'inherit';
    border: none;
    padding: '8px';
    cursor: 'pointer';
    height: 30px;

}

button:hover{
    cursor: pointer;
    background: rgb(0, 0, 0);
    border: none;

}
button:focus{
    background: rgb(223, 125, 130);
    border: none;
}